<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<integer>1</integer>
		<key>imagename</key>
		<string>UI_Flower00.png</string>
		<key>unlockdate</key>
		<string>meet you in rainday 47hour ealyer</string>
		<key>flowername</key>
		<string>初见 · 藍花丹</string>
		<key>description</key>
		<string>100%的努力不等于100%的成功</string>
		<key>condition</key>
		<dict>
			<key>Flame_Blue</key>
			<integer>0</integer>
			<key>Flame_Orange</key>
			<integer>0</integer>
			<key>Flame_Violet</key>
			<integer>0</integer>
			<key>Flame_White</key>
			<integer>3</integer>
			<key>Height</key>
			<real>1000</real>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>2</integer>
		<key>imagename</key>
		<string>UI_Flower01.png</string>
		<key>unlockdate</key>
		<string>meet you in rainday 88hour early</string>
		<key>flowername</key>
		<string>入茶 · 茉莉</string>
		<key>description</key>
		<string>可聞春天之氣味</string>
		<key>condition</key>
		<dict>
			<key>Flame_Blue</key>
			<integer>0</integer>
			<key>Flame_Orange</key>
			<integer>0</integer>
			<key>Flame_Violet</key>
			<integer>0</integer>
			<key>Flame_White</key>
			<integer>6</integer>
			<key>Height</key>
			<integer>1500</integer>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>3</integer>
		<key>imagename</key>
		<string>UI_Flower02.png</string>
		<key>unlockdate</key>
		<string>meet you in rainday 88hour early</string>
		<key>flowername</key>
		<string>宣肺 · 桔梗</string>
		<key>description</key>
		<string>郁金香也是一种花哦！</string>
		<key>condition</key>
		<dict>
			<key>Flame_Blue</key>
			<integer>0</integer>
			<key>Flame_Orange</key>
			<integer>0</integer>
			<key>Flame_Violet</key>
			<integer>0</integer>
			<key>Flame_White</key>
			<integer>9</integer>
			<key>Height</key>
			<integer>2000</integer>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>4</integer>
		<key>imagename</key>
		<string>UI_Flower03.png</string>
		<key>unlockdate</key>
		<string>meet you in rainday 88hour early</string>
		<key>flowername</key>
		<string>佛焰花序 · 滴水觀音</string>
		<key>description</key>
		<string>味辛；性寒；有毒</string>
		<key>condition</key>
		<dict>
			<key>Flame_Blue</key>
			<integer>0</integer>
			<key>Flame_Orange</key>
			<integer>0</integer>
			<key>Flame_Violet</key>
			<integer>0</integer>
			<key>Flame_White</key>
			<integer>9</integer>
			<key>Height</key>
			<integer>2500</integer>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>5</integer>
		<key>imagename</key>
		<string>UI_Flower04.png</string>
		<key>unlockdate</key>
		<string>meet you in rainday 88hour early</string>
		<key>flowername</key>
		<string>东陵 · 八仙花</string>
		<key>description</key>
		<string>有毒的棉花糖</string>
		<key>condition</key>
		<dict>
			<key>Flame_Blue</key>
			<integer>10</integer>
			<key>Flame_Orange</key>
			<integer>0</integer>
			<key>Flame_Violet</key>
			<integer>0</integer>
			<key>Flame_White</key>
			<integer>10</integer>
			<key>Height</key>
			<real>3000</real>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>6</integer>
		<key>imagename</key>
		<string>UI_Flower05.png</string>
		<key>unlockdate</key>
		<string>meet you in rainday 88hour early</string>
		<key>flowername</key>
		<string>东陵 · 八仙花</string>
		<key>description</key>
		<string>有毒的棉花糖</string>
		<key>condition</key>
		<dict>
			<key>Flame_Blue</key>
			<integer>10</integer>
			<key>Flame_Orange</key>
			<integer>0</integer>
			<key>Flame_Violet</key>
			<integer>0</integer>
			<key>Flame_White</key>
			<integer>10</integer>
			<key>Height</key>
			<real>3000</real>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>7</integer>
		<key>imagename</key>
		<string>UI_Flower06.png</string>
		<key>unlockdate</key>
		<string>meet you in rainday 88hour early</string>
		<key>flowername</key>
		<string>东陵 · 八仙花</string>
		<key>description</key>
		<string>有毒的棉花糖</string>
		<key>condition</key>
		<dict>
			<key>Flame_Blue</key>
			<integer>10</integer>
			<key>Flame_Orange</key>
			<integer>0</integer>
			<key>Flame_Violet</key>
			<integer>0</integer>
			<key>Flame_White</key>
			<integer>10</integer>
			<key>Height</key>
			<real>3000</real>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>8</integer>
		<key>imagename</key>
		<string>UI_Flower07.png</string>
		<key>unlockdate</key>
		<string>meet you in rainday 88hour early</string>
		<key>flowername</key>
		<string>东陵 · 八仙花</string>
		<key>description</key>
		<string>有毒的棉花糖</string>
		<key>condition</key>
		<dict>
			<key>Flame_Blue</key>
			<integer>10</integer>
			<key>Flame_Orange</key>
			<integer>0</integer>
			<key>Flame_Violet</key>
			<integer>0</integer>
			<key>Flame_White</key>
			<integer>10</integer>
			<key>Height</key>
			<real>3000</real>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>9</integer>
		<key>imagename</key>
		<string>UI_Flower08.png</string>
		<key>unlockdate</key>
		<string>meet you in rainday 88hour early</string>
		<key>flowername</key>
		<string>东陵 · 八仙花</string>
		<key>description</key>
		<string>有毒的棉花糖</string>
		<key>condition</key>
		<dict>
			<key>Flame_Blue</key>
			<integer>10</integer>
			<key>Flame_Orange</key>
			<integer>0</integer>
			<key>Flame_Violet</key>
			<integer>0</integer>
			<key>Flame_White</key>
			<integer>10</integer>
			<key>Height</key>
			<real>3000</real>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>10</integer>
		<key>imagename</key>
		<string>UI_Flower09.png</string>
		<key>unlockdate</key>
		<string>meet you in rainday 88hour early</string>
		<key>flowername</key>
		<string>东陵 · 八仙花</string>
		<key>description</key>
		<string>有毒的棉花糖</string>
		<key>condition</key>
		<dict>
			<key>Flame_Blue</key>
			<integer>10</integer>
			<key>Flame_Orange</key>
			<integer>0</integer>
			<key>Flame_Violet</key>
			<integer>0</integer>
			<key>Flame_White</key>
			<integer>10</integer>
			<key>Height</key>
			<real>3000</real>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>11</integer>
		<key>imagename</key>
		<string>UI_Flower10.png</string>
		<key>unlockdate</key>
		<string>meet you in rainday 88hour early</string>
		<key>flowername</key>
		<string>东陵 · 八仙花</string>
		<key>description</key>
		<string>有毒的棉花糖</string>
		<key>condition</key>
		<dict>
			<key>Flame_Blue</key>
			<integer>10</integer>
			<key>Flame_Orange</key>
			<integer>0</integer>
			<key>Flame_Violet</key>
			<integer>0</integer>
			<key>Flame_White</key>
			<integer>10</integer>
			<key>Height</key>
			<real>3000</real>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>12</integer>
		<key>imagename</key>
		<string>UI_Flower11.png</string>
		<key>unlockdate</key>
		<string>meet you in rainday 88hour early</string>
		<key>flowername</key>
		<string>东陵 · 八仙花</string>
		<key>description</key>
		<string>有毒的棉花糖</string>
		<key>condition</key>
		<dict>
			<key>Flame_Blue</key>
			<integer>10</integer>
			<key>Flame_Orange</key>
			<integer>0</integer>
			<key>Flame_Violet</key>
			<integer>0</integer>
			<key>Flame_White</key>
			<integer>10</integer>
			<key>Height</key>
			<real>3000</real>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>13</integer>
		<key>imagename</key>
		<string>UI_Flower12.png</string>
		<key>unlockdate</key>
		<string>meet you in rainday 88hour early</string>
		<key>flowername</key>
		<string>东陵 · 八仙花</string>
		<key>description</key>
		<string>有毒的棉花糖</string>
		<key>condition</key>
		<dict>
			<key>Flame_Blue</key>
			<integer>10</integer>
			<key>Flame_Orange</key>
			<integer>0</integer>
			<key>Flame_Violet</key>
			<integer>0</integer>
			<key>Flame_White</key>
			<integer>10</integer>
			<key>Height</key>
			<real>3000</real>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>14</integer>
		<key>imagename</key>
		<string>UI_Flower13.png</string>
		<key>unlockdate</key>
		<string>meet you in rainday 88hour early</string>
		<key>flowername</key>
		<string>东陵 · 八仙花</string>
		<key>description</key>
		<string>有毒的棉花糖</string>
		<key>condition</key>
		<dict>
			<key>Flame_Blue</key>
			<integer>10</integer>
			<key>Flame_Orange</key>
			<integer>0</integer>
			<key>Flame_Violet</key>
			<integer>0</integer>
			<key>Flame_White</key>
			<integer>10</integer>
			<key>Height</key>
			<real>3000</real>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>15</integer>
		<key>imagename</key>
		<string>UI_Flower14.png</string>
		<key>unlockdate</key>
		<string>meet you in rainday 88hour early</string>
		<key>flowername</key>
		<string>东陵 · 八仙花</string>
		<key>description</key>
		<string>有毒的棉花糖</string>
		<key>condition</key>
		<dict>
			<key>Flame_Blue</key>
			<integer>10</integer>
			<key>Flame_Orange</key>
			<integer>0</integer>
			<key>Flame_Violet</key>
			<integer>0</integer>
			<key>Flame_White</key>
			<integer>10</integer>
			<key>Height</key>
			<real>3000</real>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>16</integer>
		<key>imagename</key>
		<string>UI_Flower15.png</string>
		<key>unlockdate</key>
		<string>meet you in rainday 88hour early</string>
		<key>flowername</key>
		<string>东陵 · 八仙花</string>
		<key>description</key>
		<string>有毒的棉花糖</string>
		<key>condition</key>
		<dict>
			<key>Flame_Blue</key>
			<integer>10</integer>
			<key>Flame_Orange</key>
			<integer>0</integer>
			<key>Flame_Violet</key>
			<integer>0</integer>
			<key>Flame_White</key>
			<integer>10</integer>
			<key>Height</key>
			<real>3000</real>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>17</integer>
		<key>imagename</key>
		<string>UI_Flower16.png</string>
		<key>unlockdate</key>
		<string>meet you in rainday 88hour early</string>
		<key>flowername</key>
		<string>东陵 · 八仙花</string>
		<key>description</key>
		<string>有毒的棉花糖</string>
		<key>condition</key>
		<dict>
			<key>Flame_Blue</key>
			<integer>10</integer>
			<key>Flame_Orange</key>
			<integer>0</integer>
			<key>Flame_Violet</key>
			<integer>0</integer>
			<key>Flame_White</key>
			<integer>10</integer>
			<key>Height</key>
			<real>3000</real>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>18</integer>
		<key>imagename</key>
		<string>UI_Flower17.png</string>
		<key>unlockdate</key>
		<string>meet you in rainday 88hour early</string>
		<key>flowername</key>
		<string>东陵 · 八仙花</string>
		<key>description</key>
		<string>有毒的棉花糖</string>
		<key>condition</key>
		<dict>
			<key>Flame_Blue</key>
			<integer>10</integer>
			<key>Flame_Orange</key>
			<integer>0</integer>
			<key>Flame_Violet</key>
			<integer>0</integer>
			<key>Flame_White</key>
			<integer>10</integer>
			<key>Height</key>
			<real>3000</real>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>19</integer>
		<key>imagename</key>
		<string>UI_Flower18.png</string>
		<key>unlockdate</key>
		<string>meet you in rainday 88hour early</string>
		<key>flowername</key>
		<string>东陵 · 八仙花</string>
		<key>description</key>
		<string>有毒的棉花糖</string>
		<key>condition</key>
		<dict>
			<key>Flame_Blue</key>
			<integer>10</integer>
			<key>Flame_Orange</key>
			<integer>0</integer>
			<key>Flame_Violet</key>
			<integer>0</integer>
			<key>Flame_White</key>
			<integer>10</integer>
			<key>Height</key>
			<real>3000</real>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>20</integer>
		<key>imagename</key>
		<string>UI_Flower19.png</string>
		<key>unlockdate</key>
		<string>meet you in rainday 88hour early</string>
		<key>flowername</key>
		<string>东陵 · 八仙花</string>
		<key>description</key>
		<string>有毒的棉花糖</string>
		<key>condition</key>
		<dict>
			<key>Flame_Blue</key>
			<integer>10</integer>
			<key>Flame_Orange</key>
			<integer>0</integer>
			<key>Flame_Violet</key>
			<integer>0</integer>
			<key>Flame_White</key>
			<integer>10</integer>
			<key>Height</key>
			<real>3000</real>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>21</integer>
		<key>imagename</key>
		<string>UI_Flower20.png</string>
		<key>unlockdate</key>
		<string>meet you in rainday 88hour early</string>
		<key>flowername</key>
		<string>东陵 · 八仙花</string>
		<key>description</key>
		<string>有毒的棉花糖</string>
		<key>condition</key>
		<dict>
			<key>Flame_Blue</key>
			<integer>10</integer>
			<key>Flame_Orange</key>
			<integer>0</integer>
			<key>Flame_Violet</key>
			<integer>0</integer>
			<key>Flame_White</key>
			<integer>10</integer>
			<key>Height</key>
			<real>3000</real>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>22</integer>
		<key>imagename</key>
		<string>UI_Flower21.png</string>
		<key>unlockdate</key>
		<string>meet you in rainday 88hour early</string>
		<key>flowername</key>
		<string>东陵 · 八仙花</string>
		<key>description</key>
		<string>有毒的棉花糖</string>
		<key>condition</key>
		<dict>
			<key>Flame_Blue</key>
			<integer>10</integer>
			<key>Flame_Orange</key>
			<integer>0</integer>
			<key>Flame_Violet</key>
			<integer>0</integer>
			<key>Flame_White</key>
			<integer>10</integer>
			<key>Height</key>
			<real>3000</real>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>23</integer>
		<key>imagename</key>
		<string>UI_Flower22.png</string>
		<key>unlockdate</key>
		<string>meet you in rainday 88hour early</string>
		<key>flowername</key>
		<string>东陵 · 八仙花</string>
		<key>description</key>
		<string>有毒的棉花糖</string>
		<key>condition</key>
		<dict>
			<key>Flame_Blue</key>
			<integer>10</integer>
			<key>Flame_Orange</key>
			<integer>0</integer>
			<key>Flame_Violet</key>
			<integer>0</integer>
			<key>Flame_White</key>
			<integer>10</integer>
			<key>Height</key>
			<real>3000</real>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>24</integer>
		<key>imagename</key>
		<string>UI_Flower23.png</string>
		<key>unlockdate</key>
		<string>meet you in rainday 88hour early</string>
		<key>flowername</key>
		<string>东陵 · 八仙花</string>
		<key>description</key>
		<string>有毒的棉花糖</string>
		<key>condition</key>
		<dict>
			<key>Flame_Blue</key>
			<integer>10</integer>
			<key>Flame_Orange</key>
			<integer>0</integer>
			<key>Flame_Violet</key>
			<integer>0</integer>
			<key>Flame_White</key>
			<integer>10</integer>
			<key>Height</key>
			<real>3000</real>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>25</integer>
		<key>imagename</key>
		<string>UI_Flower24.png</string>
		<key>unlockdate</key>
		<string>meet you in rainday 88hour early</string>
		<key>flowername</key>
		<string>东陵 · 八仙花</string>
		<key>description</key>
		<string>有毒的棉花糖</string>
		<key>condition</key>
		<dict>
			<key>Flame_Blue</key>
			<integer>10</integer>
			<key>Flame_Orange</key>
			<integer>0</integer>
			<key>Flame_Violet</key>
			<integer>0</integer>
			<key>Flame_White</key>
			<integer>10</integer>
			<key>Height</key>
			<real>3000</real>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>26</integer>
		<key>imagename</key>
		<string>UI_Flower25.png</string>
		<key>unlockdate</key>
		<string>meet you in rainday 88hour early</string>
		<key>flowername</key>
		<string>东陵 · 八仙花</string>
		<key>description</key>
		<string>有毒的棉花糖</string>
		<key>condition</key>
		<dict>
			<key>Flame_Blue</key>
			<integer>10</integer>
			<key>Flame_Orange</key>
			<integer>0</integer>
			<key>Flame_Violet</key>
			<integer>0</integer>
			<key>Flame_White</key>
			<integer>10</integer>
			<key>Height</key>
			<real>3000</real>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>27</integer>
		<key>imagename</key>
		<string>UI_Flower26.png</string>
		<key>unlockdate</key>
		<string>meet you in rainday 88hour early</string>
		<key>flowername</key>
		<string>东陵 · 八仙花</string>
		<key>description</key>
		<string>有毒的棉花糖</string>
		<key>condition</key>
		<dict>
			<key>Flame_Blue</key>
			<integer>10</integer>
			<key>Flame_Orange</key>
			<integer>0</integer>
			<key>Flame_Violet</key>
			<integer>0</integer>
			<key>Flame_White</key>
			<integer>10</integer>
			<key>Height</key>
			<real>3000</real>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>28</integer>
		<key>imagename</key>
		<string>UI_Flower27.png</string>
		<key>unlockdate</key>
		<string>meet you in rainday 88hour early</string>
		<key>flowername</key>
		<string>东陵 · 八仙花</string>
		<key>description</key>
		<string>有毒的棉花糖</string>
		<key>condition</key>
		<dict>
			<key>Flame_Blue</key>
			<integer>10</integer>
			<key>Flame_Orange</key>
			<integer>0</integer>
			<key>Flame_Violet</key>
			<integer>0</integer>
			<key>Flame_White</key>
			<integer>10</integer>
			<key>Height</key>
			<real>3000</real>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>29</integer>
		<key>imagename</key>
		<string>UI_Flower28.png</string>
		<key>unlockdate</key>
		<string>meet you in rainday 88hour early</string>
		<key>flowername</key>
		<string>东陵 · 八仙花</string>
		<key>description</key>
		<string>有毒的棉花糖</string>
		<key>condition</key>
		<dict>
			<key>Flame_Blue</key>
			<integer>10</integer>
			<key>Flame_Orange</key>
			<integer>0</integer>
			<key>Flame_Violet</key>
			<integer>0</integer>
			<key>Flame_White</key>
			<integer>10</integer>
			<key>Height</key>
			<real>3000</real>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>30</integer>
		<key>imagename</key>
		<string>UI_Flower29.png</string>
		<key>unlockdate</key>
		<string>meet you in rainday 88hour early</string>
		<key>flowername</key>
		<string>东陵 · 八仙花</string>
		<key>description</key>
		<string>有毒的棉花糖</string>
		<key>condition</key>
		<dict>
			<key>Flame_Blue</key>
			<integer>10</integer>
			<key>Flame_Orange</key>
			<integer>0</integer>
			<key>Flame_Violet</key>
			<integer>0</integer>
			<key>Flame_White</key>
			<integer>10</integer>
			<key>Height</key>
			<real>3000</real>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>31</integer>
		<key>imagename</key>
		<string>UI_Flower30.png</string>
		<key>unlockdate</key>
		<string>meet you in rainday 88hour early</string>
		<key>flowername</key>
		<string>东陵 · 八仙花</string>
		<key>description</key>
		<string>有毒的棉花糖</string>
		<key>condition</key>
		<dict>
			<key>Flame_Blue</key>
			<integer>10</integer>
			<key>Flame_Orange</key>
			<integer>0</integer>
			<key>Flame_Violet</key>
			<integer>0</integer>
			<key>Flame_White</key>
			<integer>10</integer>
			<key>Height</key>
			<real>3000</real>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>32</integer>
		<key>imagename</key>
		<string>UI_Flower31.png</string>
		<key>unlockdate</key>
		<string>meet you in rainday 88hour early</string>
		<key>flowername</key>
		<string>东陵 · 八仙花</string>
		<key>description</key>
		<string>有毒的棉花糖</string>
		<key>condition</key>
		<dict>
			<key>Flame_Blue</key>
			<integer>10</integer>
			<key>Flame_Orange</key>
			<integer>0</integer>
			<key>Flame_Violet</key>
			<integer>0</integer>
			<key>Flame_White</key>
			<integer>10</integer>
			<key>Height</key>
			<real>3000</real>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>33</integer>
		<key>imagename</key>
		<string>UI_Flower32.png</string>
		<key>unlockdate</key>
		<string>meet you in rainday 88hour early</string>
		<key>flowername</key>
		<string>东陵 · 八仙花</string>
		<key>description</key>
		<string>有毒的棉花糖</string>
		<key>condition</key>
		<dict>
			<key>Flame_Blue</key>
			<integer>10</integer>
			<key>Flame_Orange</key>
			<integer>0</integer>
			<key>Flame_Violet</key>
			<integer>0</integer>
			<key>Flame_White</key>
			<integer>10</integer>
			<key>Height</key>
			<real>3000</real>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>34</integer>
		<key>imagename</key>
		<string>UI_Flower33.png</string>
		<key>unlockdate</key>
		<string>meet you in rainday 88hour early</string>
		<key>flowername</key>
		<string>东陵 · 八仙花</string>
		<key>description</key>
		<string>有毒的棉花糖</string>
		<key>condition</key>
		<dict>
			<key>Flame_Blue</key>
			<integer>10</integer>
			<key>Flame_Orange</key>
			<integer>0</integer>
			<key>Flame_Violet</key>
			<integer>0</integer>
			<key>Flame_White</key>
			<integer>10</integer>
			<key>Height</key>
			<real>3000</real>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>35</integer>
		<key>imagename</key>
		<string>UI_Flower34.png</string>
		<key>unlockdate</key>
		<string>meet you in rainday 88hour early</string>
		<key>flowername</key>
		<string>东陵 · 八仙花</string>
		<key>description</key>
		<string>有毒的棉花糖</string>
		<key>condition</key>
		<dict>
			<key>Flame_Blue</key>
			<integer>10</integer>
			<key>Flame_Orange</key>
			<integer>0</integer>
			<key>Flame_Violet</key>
			<integer>0</integer>
			<key>Flame_White</key>
			<integer>10</integer>
			<key>Height</key>
			<real>3000</real>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>36</integer>
		<key>imagename</key>
		<string>UI_Flower35.png</string>
		<key>unlockdate</key>
		<string>meet you in rainday 88hour early</string>
		<key>flowername</key>
		<string>东陵 · 八仙花</string>
		<key>description</key>
		<string>有毒的棉花糖</string>
		<key>condition</key>
		<dict>
			<key>Flame_Blue</key>
			<integer>10</integer>
			<key>Flame_Orange</key>
			<integer>0</integer>
			<key>Flame_Violet</key>
			<integer>0</integer>
			<key>Flame_White</key>
			<integer>10</integer>
			<key>Height</key>
			<real>3000</real>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>37</integer>
		<key>imagename</key>
		<string>UI_Flower36.png</string>
		<key>unlockdate</key>
		<string>meet you in rainday 88hour early</string>
		<key>flowername</key>
		<string>东陵 · 八仙花</string>
		<key>description</key>
		<string>有毒的棉花糖</string>
		<key>condition</key>
		<dict>
			<key>Flame_Blue</key>
			<integer>10</integer>
			<key>Flame_Orange</key>
			<integer>0</integer>
			<key>Flame_Violet</key>
			<integer>0</integer>
			<key>Flame_White</key>
			<integer>10</integer>
			<key>Height</key>
			<real>3000</real>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>38</integer>
		<key>imagename</key>
		<string>UI_Flower37.png</string>
		<key>unlockdate</key>
		<string>meet you in rainday 88hour early</string>
		<key>flowername</key>
		<string>东陵 · 八仙花</string>
		<key>description</key>
		<string>有毒的棉花糖</string>
		<key>condition</key>
		<dict>
			<key>Flame_Blue</key>
			<integer>10</integer>
			<key>Flame_Orange</key>
			<integer>0</integer>
			<key>Flame_Violet</key>
			<integer>0</integer>
			<key>Flame_White</key>
			<integer>10</integer>
			<key>Height</key>
			<real>3000</real>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>39</integer>
		<key>imagename</key>
		<string>UI_Flower38.png</string>
		<key>unlockdate</key>
		<string>meet you in rainday 88hour early</string>
		<key>flowername</key>
		<string>东陵 · 八仙花</string>
		<key>description</key>
		<string>有毒的棉花糖</string>
		<key>condition</key>
		<dict>
			<key>Flame_Blue</key>
			<integer>10</integer>
			<key>Flame_Orange</key>
			<integer>0</integer>
			<key>Flame_Violet</key>
			<integer>0</integer>
			<key>Flame_White</key>
			<integer>10</integer>
			<key>Height</key>
			<real>3000</real>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>40</integer>
		<key>imagename</key>
		<string>UI_Flower39.png</string>
		<key>unlockdate</key>
		<string>meet you in rainday 88hour early</string>
		<key>flowername</key>
		<string>东陵 · 八仙花</string>
		<key>description</key>
		<string>有毒的棉花糖</string>
		<key>condition</key>
		<dict>
			<key>Flame_Blue</key>
			<integer>10</integer>
			<key>Flame_Orange</key>
			<integer>0</integer>
			<key>Flame_Violet</key>
			<integer>0</integer>
			<key>Flame_White</key>
			<integer>10</integer>
			<key>Height</key>
			<real>3000</real>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>41</integer>
		<key>imagename</key>
		<string>UI_Flower40.png</string>
		<key>unlockdate</key>
		<string>meet you in rainday 88hour early</string>
		<key>flowername</key>
		<string>东陵 · 八仙花</string>
		<key>description</key>
		<string>有毒的棉花糖</string>
		<key>condition</key>
		<dict>
			<key>Flame_Blue</key>
			<integer>10</integer>
			<key>Flame_Orange</key>
			<integer>0</integer>
			<key>Flame_Violet</key>
			<integer>0</integer>
			<key>Flame_White</key>
			<integer>10</integer>
			<key>Height</key>
			<real>3000</real>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>42</integer>
		<key>imagename</key>
		<string>UI_Flower41.png</string>
		<key>unlockdate</key>
		<string>meet you in rainday 88hour early</string>
		<key>flowername</key>
		<string>东陵 · 八仙花</string>
		<key>description</key>
		<string>有毒的棉花糖</string>
		<key>condition</key>
		<dict>
			<key>Flame_Blue</key>
			<integer>10</integer>
			<key>Flame_Orange</key>
			<integer>0</integer>
			<key>Flame_Violet</key>
			<integer>0</integer>
			<key>Flame_White</key>
			<integer>10</integer>
			<key>Height</key>
			<real>3000</real>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>43</integer>
		<key>imagename</key>
		<string>UI_Flower42.png</string>
		<key>unlockdate</key>
		<string>meet you in rainday 88hour early</string>
		<key>flowername</key>
		<string>东陵 · 八仙花</string>
		<key>description</key>
		<string>有毒的棉花糖</string>
		<key>condition</key>
		<dict>
			<key>Flame_Blue</key>
			<integer>10</integer>
			<key>Flame_Orange</key>
			<integer>0</integer>
			<key>Flame_Violet</key>
			<integer>0</integer>
			<key>Flame_White</key>
			<integer>10</integer>
			<key>Height</key>
			<real>3000</real>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>44</integer>
		<key>imagename</key>
		<string>UI_Flower43.png</string>
		<key>unlockdate</key>
		<string>meet you in rainday 88hour early</string>
		<key>flowername</key>
		<string>东陵 · 八仙花</string>
		<key>description</key>
		<string>有毒的棉花糖</string>
		<key>condition</key>
		<dict>
			<key>Flame_Blue</key>
			<integer>10</integer>
			<key>Flame_Orange</key>
			<integer>0</integer>
			<key>Flame_Violet</key>
			<integer>0</integer>
			<key>Flame_White</key>
			<integer>10</integer>
			<key>Height</key>
			<real>3000</real>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>45</integer>
		<key>imagename</key>
		<string>UI_Flower44.png</string>
		<key>unlockdate</key>
		<string>meet you in rainday 88hour early</string>
		<key>flowername</key>
		<string>东陵 · 八仙花</string>
		<key>description</key>
		<string>有毒的棉花糖</string>
		<key>condition</key>
		<dict>
			<key>Flame_Blue</key>
			<integer>10</integer>
			<key>Flame_Orange</key>
			<integer>0</integer>
			<key>Flame_Violet</key>
			<integer>0</integer>
			<key>Flame_White</key>
			<integer>10</integer>
			<key>Height</key>
			<real>3000</real>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>46</integer>
		<key>imagename</key>
		<string>UI_Flower45.png</string>
		<key>unlockdate</key>
		<string>meet you in rainday 88hour early</string>
		<key>flowername</key>
		<string>东陵 · 八仙花</string>
		<key>description</key>
		<string>有毒的棉花糖</string>
		<key>condition</key>
		<dict>
			<key>Flame_Blue</key>
			<integer>10</integer>
			<key>Flame_Orange</key>
			<integer>0</integer>
			<key>Flame_Violet</key>
			<integer>0</integer>
			<key>Flame_White</key>
			<integer>10</integer>
			<key>Height</key>
			<real>3000</real>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>47</integer>
		<key>imagename</key>
		<string>UI_Flower46.png</string>
		<key>unlockdate</key>
		<string>meet you in rainday 88hour early</string>
		<key>flowername</key>
		<string>东陵 · 八仙花</string>
		<key>description</key>
		<string>有毒的棉花糖</string>
		<key>condition</key>
		<dict>
			<key>Flame_Blue</key>
			<integer>10</integer>
			<key>Flame_Orange</key>
			<integer>0</integer>
			<key>Flame_Violet</key>
			<integer>0</integer>
			<key>Flame_White</key>
			<integer>10</integer>
			<key>Height</key>
			<real>3000</real>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>48</integer>
		<key>imagename</key>
		<string>UI_Flower48.png</string>
		<key>unlockdate</key>
		<string>meet you in rainday 88hour early</string>
		<key>flowername</key>
		<string>东陵 · 八仙花</string>
		<key>description</key>
		<string>有毒的棉花糖</string>
		<key>condition</key>
		<dict>
			<key>Flame_Blue</key>
			<integer>10</integer>
			<key>Flame_Orange</key>
			<integer>0</integer>
			<key>Flame_Violet</key>
			<integer>0</integer>
			<key>Flame_White</key>
			<integer>10</integer>
			<key>Height</key>
			<real>3000</real>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>49</integer>
		<key>imagename</key>
		<string>UI_Flower47.png</string>
		<key>unlockdate</key>
		<string>meet you in rainday 88hour early</string>
		<key>flowername</key>
		<string>东陵 · 八仙花</string>
		<key>description</key>
		<string>有毒的棉花糖</string>
		<key>condition</key>
		<dict>
			<key>Flame_Blue</key>
			<integer>10</integer>
			<key>Flame_Orange</key>
			<integer>0</integer>
			<key>Flame_Violet</key>
			<integer>0</integer>
			<key>Flame_White</key>
			<integer>10</integer>
			<key>Height</key>
			<real>3000</real>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>50</integer>
		<key>imagename</key>
		<string>UI_Flower49.png</string>
		<key>unlockdate</key>
		<string>meet you in rainday 88hour early</string>
		<key>flowername</key>
		<string>东陵 · 八仙花</string>
		<key>description</key>
		<string>有毒的棉花糖</string>
		<key>condition</key>
		<dict>
			<key>Flame_Blue</key>
			<integer>10</integer>
			<key>Flame_Orange</key>
			<integer>0</integer>
			<key>Flame_Violet</key>
			<integer>0</integer>
			<key>Flame_White</key>
			<integer>10</integer>
			<key>Height</key>
			<real>3000</real>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>51</integer>
		<key>imagename</key>
		<string>UI_Flower50.png</string>
		<key>unlockdate</key>
		<string>meet you in rainday 88hour early</string>
		<key>flowername</key>
		<string>东陵 · 八仙花</string>
		<key>description</key>
		<string>有毒的棉花糖</string>
		<key>condition</key>
		<dict>
			<key>Flame_Blue</key>
			<integer>10</integer>
			<key>Flame_Orange</key>
			<integer>0</integer>
			<key>Flame_Violet</key>
			<integer>0</integer>
			<key>Flame_White</key>
			<integer>10</integer>
			<key>Height</key>
			<real>3000</real>
		</dict>
	</dict>
</array>
</plist>
